.card {
  width: 400px;
  margin-bottom: 20px;
}

.card:focus {
  outline: 3px solid rgba(0, 0, 0, .6);
  outline-offset: 3px;
  border-radius: 9px;  
}

.card__body {
  padding: 0 10px 0px 10px;
}

.card__group {
  display: block;
}

.card__group--inline {
  display: flex;
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}

.card__title {

}

.card__link {

}

.card__price {
  font-weight: 600;
}

.card__dot {
  font-size: 30px;
  line-height: 24px;
  font-weight: 900;
  color: hsl(0, 0%, 60%);
  margin-left: 5px;
  margin-right: 5px;
}

.card__description {

}

/****** List Group Compoenent */

.list-group {

}

.list-group--flush {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/** From ***********/
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__title {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.form__description {
  color:rgba(0, 0, 0, .8);
}

.form__label {
  font-weight: 700;
  margin-top: 10px;
}

.form__error,
.form__error:focus {
  color: red;
  outline-color: red;
}

.form__error--input {
  border: 1px solid red;
}

.form__submit {
  margin-top: 20px;
  padding: 5px 20px;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: .6px;
  text-transform: uppercase;
}



